
# images folder
downscaled_images
training_set
testing_set
training_output


# pycache 
__pycache__
model_code/__pycache__
data_handling/__pycache__

# testing
testing.ipynb
model_training.ipynb
comparison.ipynb
scoring.ipynb   
