
# images folder
train_test_data/training_set/*
!train_test_data/training_set/
!train_test_data/training_set/image_10.jpg
testing_set

# pycache 
__pycache__
model_code/__pycache__
data_handling/__pycache__

# testing
testing.ipynb
model_training.ipynb
comparison.ipynb
scoring.ipynb   

# checkpoints
checkpoints

# image comparisons
training_info/comparisons_at_epoch
training_info/training_output/*
training_info/training_output/0.8.1_MULTIRES/0.8.1_MULTIRES.log  
!training_info/training_output/0.8.1_MULTIRES/